@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" >
    <img id="idImagen" src="~/Imagenes/1000 IDEAS-01.jpg"  width="800px" height="400px" />


</div>

@section Scripts {

    @Scripts.Render("~/JQGrid/js")
    @*@Scripts.Render("~/ReportePen/js")*@

}

